html, body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: justify;
}

/* layout */
.header {
  border-bottom: 1px solid var(--code-bg-color);
  grid-template-columns: 1fr 70px 150px 60% 1fr;
  background-color: var(--primary-color-light)
}

.wrapper {
  display: flex;
  flex-grow: 1;
}

.icon {
  grid-column: 2;
  width: 50px;
  padding: 1.5rem 0;
  border: 1.5rem;
}
/* logo */
.logo {
  font-weight: 900;
  color: navy;
  font-size: 1.4em;
  grid-column: 3;
  text-align: initial;
}

.logo__thin {
  font-weight: 300;
}

/* menu */
.menu {
  grid-template-columns: 1fr 180px 60% 1fr;
}

.menu__item {
  padding: 1.5rem 1rem;
  font-size: 1.1rem;
}

/* doc */
.doc__bg {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 28%;
  background-color: var(--bg-color);
  z-index: -1;

  padding-top: 20px;
  padding-bottom: 15px;
}

.doc__nav {
  flex-basis: 20%;
  font-weight: 200;
}

.doc__nav > ul {
  list-style: none;
  padding-left: 0;
  line-height: 1.8;
}

.doc__nav ul.fixed {
  position: fixed;
  top: 2rem;
}

.doc__nav li:hover {
  color: var(--primary-color-light);
  cursor: pointer;
  transition: color .3s ease-in-out;
}

.doc__nav .selected {
  color: var(--accent-color);
  position: relative;
}

.doc__nav .selected:after {
  position: absolute;
  content: "";
  width: 1rem;
  height: 1rem;
  background-color: var(--accent-color);
  left: -1.5rem;
  top: 0.3rem;
}

.doc__content {
  flex-basis: 80%;
  padding: 0 0 5rem 1rem;
}

.js-section {
  margin-bottom: 70px;
}

.table-commands td:first-child {
  width: 25%
}

.table-commands td:first-child code {
  font-weight: 300;
  font-size: 18px;
}

.file-path {
  font-family: monospace;
  color: #34723e;
}

.code {
  border-radius: 3px;
  font-family: Space Mono, SFMono-Regular, Menlo,Monaco, Consolas, Liberation Mono, Courier New, monospace;
  background: var(--bg-color);
  border: 1px solid var(--code-bg-color);
  color: var(--dark-gray-color);
  overflow: auto;
}

.code--block {
  white-space: pre-line;
  text-align: initial;
  padding: 0 1.5rem;
  border: 0;
  margin: 0;
}

#bucket-code {
  white-space: pre;
  text-align: initial;
  tab-size: 4;
  font-size: initial;
  font-family: inherit;
  padding: 0 1.5rem;
  border: 0;
  margin: 0;
}

.code__block {
  position: relative;
}

.copy-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  background-color: var(--primary-color-light);
  color: black;
  border: none;
  border-radius: 3px;
  z-index: 1;
}

.copy-button:hover {
  background-color: var(--primary-color-light-darker);
}


@media (max-width: 1000px) {
  .wrapper {
    flex-direction: column;
  }
  .doc__content {
    padding-left: 0;
  }
  .doc__nav ul {
    border-bottom: 1px solid var(--code-bg-color);
    padding-bottom: 0.5rem;
  }
  .doc__nav ul.fixed {
    /* nutralized the fixed menu for mobile*/
    position: relative;
    top: 0;
  }
  .doc__nav li {
    display: inline-block;
    padding-right: 1rem;
  }
  .doc__nav .selected:after {
    display: none;
  }

}

.design-img {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  display: block;
  width: 100%;
  object-fit: contain;
}

.design-img:hover {
  opacity: 0.4;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 99; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 75%;
  /*max-width: 75%;*/
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 100%;
  max-width: 700px;
  text-align: center;
  font-weight: 500;
  font-size: 25px;
  color: #ccc;
  padding: 10px 0;
  height: 100px;
}


/*Zoom in*/
@-webkit-keyframes zoom {
  from {-webkit-transform:scale(1)}
  to {-webkit-transform:scale(2)}
}
@keyframes zoom {
  from {transform:scale(0.4)}
  to {transform:scale(1)}
}

/*zoom out*/
@-webkit-keyframes zoom-out {
  from {transform:scale(1)}
  to {transform:scale(0)}
}
@keyframes zoom-out {
  from {transform:scale(1)}
  to {transform:scale(0)}
}


/* Add Animation */
.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

.out {
  animation-name: zoom-out;
  animation-duration: 0.6s;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
