.stage
{
    -fx-background-image: url('../assets/background.png');
    -fx-background-size: cover;
    -fx-font-family: 'ubuntu';
    -fx-font-size: 15px;
    -fx-grid-lines-visible: true;
    -fx-fill-width: true;
}

.menu-container
{
    -fx-alignment: center;
    -fx-spacing: 20px;
    -fx-padding: 20, 20, 20, 20;
}

.menu-button
{
    -fx-background-color: transparent;

    -fx-min-width: 200;
    -fx-min-height: 35;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-border-color: transparent;
    -fx-border-radius: 5px;
}

.back-button
{
    -fx-min-width: 200;
    -fx-min-height: 35;
    -fx-text-fill: #d82e2e;
    -fx-font-weight: bold;
    -fx-border-radius: 5px;
}

.menu-label
{
    -fx-text-fill: white;
}

.menu-button:focused
{
    -fx-background-color: #1A1A3C;
    -fx-border-color: #1a293c;
}